body{
    background-color: grey;
    
}
h1{
    display: flex;
    justify-content: center
}
#entry{
    padding: 10%;
    border: 1px solid black
}
#main{
    display: flex;
    flex-direction: column;
    width: 45%
}
fieldset{
    display: flex
}